{
  "$schema": "https://opencode.ai/config.json",
  "theme": "transparent",
  "model": "openai/gpt-5-2025-08-07",
  "plugin": ["@mohak34/opencode-notifier@latest"],
  "mcp": {
    "context7": {
      "type": "local",
      "command": ["npx", "-y", "@upstash/context7-mcp", "--api-key", "{{ onepasswordRead "op://Private/context7-codex-api-key/credential" }}"],
      "enabled": true
    }
  }
}
