approval_policy = "on-request"
model_reasoning_effort = "xhigh"
sandbox_mode = "danger-full-access"
model = "gpt-5.3-codex"
web_search_request = true
personality = "pragmatic"

[projects."/home/leoc"]
trust_level = "trusted"

[projects."/home/leoc/projects/leo91000/eliah"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-assets/ww-input-otp"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-assets/ww-chat"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-plugin-figma"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-editor"]
trust_level = "trusted"

[projects."/home/leoc/projects/leo91000/vue-tiptap-renderer"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-assets/ww-chat-ai"]
trust_level = "trusted"

[projects."/home/leoc/projects/weweb/weweb-assets"]
trust_level = "trusted"

[mcp_servers.chrome-devtools]
command = "npx"
args = ["chrome-devtools-mcp@latest"]

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"
http_headers = { "CONTEXT7_API_KEY" = "{{ onepasswordRead "op://Private/context7-codex-api-key/credential" }}" }

[notice]
hide_gpt5_1_migration_prompt = true
hide_rate_limit_model_nudge = true

[notice.model_migrations]
"gpt-5.1-codex-mini" = "gpt-5.2-codex"
